<h1 class="display-3">About Vidjot</h1>
<div class="shadow-none p-3 mb-5 bg-light rounded">Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Facere laboriosam error, distinctio nisi soluta porro quaerat corporis minus modi ex repellat? 
     Exercitationem molestias aut accusantium incidunt praesentium soluta, facilis magni?</div>