<div class="jumbotron text-center">
    <h1 class="display-3">
        {{title}}
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia quod consectetur officiis, veritatis nobis temporibus libero consequuntur, porro, dolor quidem. Voluptates aspernatur saepe velit aut amet, perspiciatis eius eveniet.
    </p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add data to Mongo</a>
</div>