<div class="card card-body text-white bg-dark">
    <div class="card-title"><h4>Login into your account or sign up for free</h4></div>
    <hr>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="title">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="details">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Type description" required>
        </div>
        <button type="submit" class="btn btn-success btn-block">Login</button>
        <br>
        <buttom class="btn btn-primary btn-block">Sign up</buttom>
    </form>
</div>