{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body text-white bg-dark">
    <div class="card-title"><h4>Note Idea</h4></div>
    <hr>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Type a title" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details" placeholder="Type description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Create</button>
    </form>
</div>